.button-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.button-form .ant-form-item:last-child {
  margin-top: auto;
}

.cancel-btn {
  margin-right: 20px;
  margin-top: 20px;
}

.control-pane {
  text-align: right;
}

.devops-container {
  padding: 20px 30px;
}

.sub-title {
  display: flex;
  margin-bottom: 20px;
  text-align: left;
}

.sub-title2 {
  font-size: 14px;
  margin: 2px 0 0px 5px;
  font-weight: 400;
}

.title {
  text-align: left;
}

/* Table component styles */
:where(.css-dev-only-do-not-override-1wazalj).ant-table-wrapper .ant-table-thead >tr>th {
  background: #f2f2f2;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-table-wrapper .ant-table-tbody >tr >td:last-child {
  text-align: center;
}
/*ant - table */

.pop-up-Table .ant-table-body {
   /* overflow-y: hidden !important; */
  max-height: 190px !important;
}