.control-pane {
    width: 100%;
  }
  
  .control-pane fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    display: inline-block;
  }
  
  .control-pane legend {
    font-weight: bold;
  }
  
  .control-pane table {
    width: 100%;
  }
  
  .control-pane .form-label {
    font-weight: bold;
    padding-top: 10px;
  }
  
  .control-pane input[type='text'] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .control-pane button.connBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .control-pane button.connBtn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  