
.control-container {
  border: none;
  background-color: #ffffff !important;
}

.devops-container .button-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.devops-container .button-form .ant-form-item:last-child {
  margin-top: auto;
}

.devops-container .modal-title {
 font-size: 20px;
 font-weight: 600;
 color:  #292D32;
 margin-top: 0;
 margin-bottom: 10px;
}

.devops-container .ant-table-wrapper {
  margin-bottom: 10px;
}

.devops-container .ant-table-wrapper th {
  font-size: 13px;
}

.devops-container .ant-table-wrapper th:first-child , .ant-table-wrapper td:first-child {
  padding-left: 0 !important;
}

.devops-container .label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #616161;
  text-align: left;
  position: relative;
}

.devops-container .label::after {
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  content: "*";
  position: absolute;
  top: -2px;
  margin-left: 2px;
}

.devops-container .control-pane {
  text-align: right;
  padding: 20px 30px;
}

.devops-container .sub-title {
  display: flex;
  margin-bottom: 10px;
  text-align: left;
  margin-top: 0;
}

.devops-container .sub-title2 {
  font-size: 14px;
  margin: 2px 0 0px 5px;
  font-weight: 400;
}

.devops-container .title {
  text-align: left;
  margin-top: 0;
}

/* Table component styles */
.devops-container .ant-table-wrapper .ant-table-thead >tr>th {
  background: #f2f2f2;
  border-bottom: none !important;
}

.devops-container .ant-table-tbody >tr >td, .ant-table-thead >tr>td {
 border-bottom: none !important;
}

.devops-container .ant-table-wrapper .ant-table-tbody >tr >td:last-child {
  text-align: center;
}


.devops-container .pop-up-Table .ant-table-body {
  max-height: 438px !important;
}

.devops-container .ant-btn-primary {
  height: 35px;
  background-color: #00AEA7;
  border-radius: 5px;
  border: 1px solid #00AEA7;
  color: #ffffff;
  box-shadow: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  min-width: 100px;
}

.devops-container .ant-btn-primary:hover, .ant-btn-primary:active {
  background-color: #00AEA7 !important;
}

.devops-container .cancel-btn {
  height: 35px;
  background-color: transparent !important;
  border-radius: 5px;
  border: 1px solid #00AEA7 !important;
  color: #00AEA7 !important;
  box-shadow: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  min-width: 100px;
}

.devops-container .cancel-btn:hover, .cancel-btn:active {
  background-color: transparent !important;
  color: #00AEA7 !important;
}

.devops-container .ant-input, .ant-select-selector{
  background: #ffffff;
  box-shadow: none;
  border-radius: 5px;
  border: 0.5px solid #C1BDBD !important;
  color: #2E2E2E !important;
  font-size: 14px !important;
  height: 35px;
}

.devops-container .ant-form-item {
  margin-bottom: 15px !important;
}

.devops-container .mr-10 {
  margin-right: 10px;
}

.devops-container .ant-table tbody>tr:nth-of-type(odd) {
  background-color: #F6F8FA;
}

.devops-container .ant-table th {
  background-color: transparent !important;
  color: #292D32;
  font-weight: 700;
  font-size: 14px;
}

.devops-container .ant-table td {
  background-color: transparent !important;
  color: #292D32;
  font-size: 14px;
}

.devops-container .ant-form-item-explain-error {
  text-align: left;
  margin-bottom: 10px;
  font-size: 13px;
}

/* .devops-container .custom-form-wrap.mt-20{
  margin-top: 20px;
}

.devops-container .custom-form-wrap .ant-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
} */

.devops-container .custom-form-wrap .ant-form-item-control {
  width: 100%;
}

.devops-container .text-left {
  text-align: left;
}

.devops-container .ant-radio-button {
  color: #00AEA7;
}

.devops-container .ant-radio-button-wrapper:hover {
  color: #00AEA7;
}

.devops-container .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #00AEA7;
  border-color:#00AEA7 !important;
  background-color: #00AEA7 !important;
}

.devops-container .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: #00AEA7;
}

.devops-container .mb-20 {
  margin-bottom: 20px;
}

.devops-container .disable-table td{
  background-color: #e7e7e7;
  pointer-events: none;
  opacity: 0.5;
}

.devops-container .crmEntityFormView {
  background: transparent;
  margin-top: 30px;
}

.devops-container .title {
  font-size: 25px;
  color: #292D32;
  margin-bottom: 30px;
}

.devops-container .sub-title {
  font-size: 16px;
  font-weight: 700;
  color: #292D32;
}

.devops-container .actions {
  border: none;
  margin-top: 0;
  padding: 0 40px;
}

.devops-container .btn-submit {
  float: right;
  border-radius: 5px;
  min-width: 100px;
}

.devops-container .bg-wrap {
  background: white;
    padding: 20px;
}

.devops-container .flex-end-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}